<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio - www.connectwave.com</title>
    <link rel="stylesheet" href="../static/portfolio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

<header class="header">
    <a href="#" class="logo">Tejesh.</a>
    <nav class="navbar">
        <a href="#" id="Home" class="active">Home</a>
        <a href="#" id="About">About</a>
         <a href="#" id="Services">Services</a>
        <a href="#" id="Portfolio">Portfolio</a>
        <a href="#" id="Contact">Contact</a>

    </nav>
</header>
<section class="home">
    <div class="home-content">
        <h1>Hi, I'm  Tejesh </h1>
        <h3>Web-Devoloper</h3>
        <p>Showcase your best web development projects. Include a variety of projects to demonstrate your skills in different areas.
            For each project, provide a project title, a short description, and a link to view the project live (if applicable).
            Mention the technologies you used and your role in the project (e.g., front-end developer, full-stack developer).
            Include screenshots or videos to visually represent your work.</p>
            <div class="btn-box">
                <a href="/login">Login</a>
                <a href="#">sing up</a>
            </div>
    </div>
    <div class="home-sci">
        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <span class="home-imgHover"></span>
</section>

</body>
</html>
